ssh_key_path: $HCLOUD_PRIVATE
nodes:
  {% for host in vars['ansible_play_hosts_all'] %}
  - address: {{ host }}
      user: root
      role: {{ (hostvars[host].group_names | intersect(['worker', 'etcd', 'controlplane'])) | to_yaml  }}
  {% endfor %}

services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h